@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  background-image: url("https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg");
  background-position: center ;
  font-size: 18px;
  color: rgb(212, 212, 212);
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0;
}
.header {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  color: rgb(74, 71, 65);
  font-size:xx-large;
  font-weight: 600;
}
.container {
  padding: 30px;
  background-image: url("https://images.pexels.com/photos/1723637/pexels-photo-1723637.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  border-radius: 8px;
  box-shadow: 0px 0px 20px #00000011;
  width: 90%;
  max-width: 400px;
}
form {
  width: 100%;
  font-size: 20px;
}
.result {
  background-color: rgb(220, 233, 243);
  position: relative;
  margin-bottom: 30px;
  border-radius: 6px;
  overflow: hidden;
}
.result #result {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
}
.result .clipboard {
  width: 15%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(118, 116, 112);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.field input[type='number'] {
  width: 50px;
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
  padding-right: 0px;
  font-size: 16px;
  background-color: rgb(146, 166, 189);
  border-radius: 4px;
}
.field {
  height: 40px;
  margin-top: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding-right: 10px;
  font-style: rgb(102,132,169);;
  transition: 0.3s ease background-color;
}
.field:first-of-type {
  padding-right: 0;
}
.field:hover {
  background-color: rgb(126, 137, 137);
}
.field label {
  width: 100%;
  padding: 10px;
  color: rgb(163,169,204);
  cursor: pointer;
}
.field input {
  cursor: pointer;
}

button[type='submit'] {
  display: inline-block;
  width: 100%;
  border: royalblue;
  height: 50px;
  background-color: rgb(213, 229, 240);
  color: rgb(93, 88, 77);
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 6px;
}

@media only screen and (max-width: 678px) {
  .field {
    font-size: 16px;
  }
}
